{% extends "layout.html" %}

{% block title %}{{new.title}}{% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}
<h1>
    Registracijos forma
</h1>
<form method="post" action="http://127.0.0.1:8000/users/create">
    <input name="name" placeholder="Vardas" type="text"><br>
    <input name="last_name" placeholder="Pavarde" type="text"><br>
    <input name="email" placeholder="Email" type="email"><br>
    <input name="password" placeholder="******" type="password"><br>
    <input name="password2" placeholder="******" type="password"><br>
    <input name="submit" value="Registruotis" type="submit"><br>
</form>
{% endblock %}